

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
            <div class="form-group">
              <label for="username">UserName</label>
              <input type="text" id="username" formControlName="userName" class="form-control">
            </div>
            <span class="text-danger" *ngIf="f['userName'].invalid && f['userName'].touched && f['userName'].hasError('required')">
              Email is required field.
            </span>
            <span class="text-danger" *ngIf="f['userName'].invalid && f['userName'].dirty && f['userName'].hasError('pattern')">
              Username should includes alphabet only.
            </span>
            <span class="text-danger" *ngIf="f['userName'].invalid && f['userName'].dirty && f['userName'].hasError('minlength')">
              Minlength should be {{f['userName'].errors?.['minlength'].requiredLength}} && 
              actualLength is {{f['userName'].errors?.['minlength'].actualLength}}
            </span>
            <span class="text-danger" *ngIf="f['userName'].invalid && f['userName'].dirty && f['userName'].hasError('maxlength')">
              Maxlength should be {{f['userName'].errors?.['maxlength'].requiredLength}} && 
              actualLength is {{f['userName'].errors?.['maxlength'].actualLength}}
            </span>
            <span class="text-danger" *ngIf="f['userName'].hasError('noSpaceErr')">
              {{f['userName'].errors?.['noSpaceErr']}}
            </span>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" id="email" formControlName="email" class="form-control">
            </div>
            <span class="text-danger" *ngIf="f['email'].invalid && f['email'].touched && f['email'].hasError('required')">
              Email is mandatory field.
            </span>
            <span class="text-danger" *ngIf="f['email'].invalid && f['email'].dirty && f['email'].hasError('pattern')">
              Email is invalid pattern.
            </span>
            <div class="form-group">
              <!-- <label for="gender">
                <input type="radio" formControlName="gender" [value]="gender" [id]="gender"
                 *ngFor="let gender of gendersArr">                  
              </label> -->
              <label for="male">Male</label>
              <input type="radio" formControlName="gender" id="male" value="male">
              <label for="female" class="ml-3">Female</label>
              <input type="radio" formControlName="gender" id="female" value="female">
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="isAddsame">
                  <input type="checkbox" formControlName="isAddSame" id="isAddsame">
                  Current and Permanant Address are same.
                </label>
              </div>
              <div class="col-md-6">
                <h5>Current Address</h5>
               <div formGroupName="currentAddress">
                <div class="form-group">
                  <label for="country">Country</label>
                  <select formControlName="country" id="country" class="form-control">
                    <option [value]="countryObj.Country" *ngFor="let countryObj of countriesArr">
                      {{countryObj.Country}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" formControlName="state" id="state" class="form-control">
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" formControlName="city" id="city" class="form-control">
                </div>
                <div class="form-group">
                  <label for="pincode">Pincode</label>
                  <input type="text" formControlName="pincode" id="pincode" class="form-control">
                </div>
               </div>
              </div>
              <div class="col-md-6">
                <h5>Permanant Address</h5>              
                <div formGroupName="permanantAddress">
                  <div class="form-group">
                    <label for="country">Country</label>
                    <select formControlName="country" id="country" class="form-control">
                      <option [value]="countryObj.Country" *ngFor="let countryObj of countriesArr">
                        {{countryObj.Country}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" formControlName="state" id="state" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" formControlName="city" id="city" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="pincode">Pincode</label>
                    <input type="text" formControlName="pincode" id="pincode" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div formArrayName="skills">
              <h5>Add skills</h5>
              <div class="row" *ngFor="let skill of skillsArray.controls; let i= index">
                <div class="col-8 col-md-10">
                  <div class="form-group">
                    <input type="text" class="form-control" [formControlName]="i">
                  </div>
                </div>
                <div class="col-4 col-md-2 pl-md-0" *ngIf="i > 0">
                   <button class="btn btn-danger btn-sm" type="button" (click)="onRemoveSkill(i)">Remove skills</button>
                </div>
              </div>
              <div class="row" *ngIf="skillsArray.length >= 5">
                <div class="col">
                  <p class="alert alert-info">
                    You can add max 5 skills only.
                  </p>
                </div>
              </div>
              <div class="col-12 mb-4 text-right">
                <button 
                [disabled]="skillsArray.length >= 5"
                class="btn btn-primary btn-sm" type="button" (click)="onAddskill()">
                  Add skills</button>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" class="form-control" formControlName="password">
            </div>
            <span class="text-danger" *ngIf="f['password'].touched && f['password'].hasError('required')">
              Password is required Field.
            </span>
            <span class="text-danger" *ngIf="f['password'].dirty && f['password'].hasError('pattern')">
              Invalid Password, password length should be 8, it should includes 1 lowercase,
               1 uppercase, 1 number and 1 spec character. 
            </span>
            <div class="form-group">
              <label for="confpassword">Confirm Password</label>
              <input type="text" class="form-control" formControlName="confirmPassword">
               <span class="text-danger"
               *ngIf="f['confirmPassword'].dirty && f['password'].value 
                 !== f['confirmPassword'].value "
               >
                Password and Confirm passwors must be same.
               </span>
            </div>
            <button 
            [disabled]="f['confirmPassword'].dirty && f['password'].value 
            !== f['confirmPassword'].value || signUpForm.invalid"
            class="btn btn-outline-primary btn-sm btn-block">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>